{% extends "BaseTemplate.twig" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-9">
            <p>Concepteur & Developpeur d'applications Fullstack</p>
            <p>Depuis l’identification des besoins,
                jusqu'à la production, le déploiement et la maintenance, j’aime me consacrer à un projet, et le voir se
                développer au fil du temps.</p>
        </div>
    </div>
</div>

<div class="container competences d-none d-lg-block">
    <strong>Langages :</strong> PHP7 & 8, JavaScript, NodeJS, Python, C#<br>
    <strong>Frameworks & libraries :</strong> Composer, Packagist, Symfony, Npm, React, JQuery, D3.js <br>
    <strong>Web Services :</strong> API REST, SOAP, Google API’s, AWS <br>
    <strong>DB :</strong> MySQL, SQLite, PostGres, MongoDB, Redis <br>
    <strong>Other :</strong> GIT, Docker, Composer, Postfix, Vagrant, Regexp, CRUD, PSR2 <br>
    <p></p>
</div>

<div class="container">
    <div class="row">

    {% for item in items %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="img">
                <a href="{{ item.permalink }}"><img src="{{ item.url_img|default('img/thumbnail-600x350.png') }}" alt=""></a>
            </div>
            <div class="card-body">
                <h5 class="card-title"><a href="{{ item.permalink }}">{{ item.title }}</a></h5>
                
                <p class="card-text smaller">{{ item.description_short }}</p>        
                <p class="text-muted smaller"><i>{{ item.tags }}</i></p>
            </div>
            
        </div>
    </div>
    {% endfor %}

    </div>
</div>

{% endblock %}
