{% extends "BaseTemplate.twig" %}
{% block title %}Project{% endblock %}
{% block head %}
{{ parent() }}
<style></style>
{% endblock %}
{% block content %}
    
<div class="container">
    
    <div class="row">
        <div class="col-12">
            <a href="/">Home</a>
        </div>
    </div>
    
    <div class="row">
        
        <div class="col-12 col-md-6">
            <div class="img">
                <img src="{{ item.url_img }}" alt="">        
            </div>
        </div>

        <div class="col-12 col-md-6">
            <h2>{{ item.title }}</h2>
            <i class="text-muted">{{ item.tags }}</i>
            <p>{{ item.description|raw }}</p>

            <a href="{{item.url}}">{{item.url}}</a>
            <a href="{{item.url_git}}">{{item.url_git}}</a>
        </div>


        <div class="col-12">
        <hr>
        <a href=#><i class="fa fa-arrow-left"></i> Previous project</a>
        <a href=# class="float-end">Next project <i class="fa fa-arrow-right"></i></a>
        </div>
        
    </div>

</div>

{% endblock %}

