{% extends "BaseTemplate.twig" %}
{% block title %}{{ item.title }} - Pierre BOQUET{% endblock %}
{% block head %}
{{ parent() }}
<style></style>
{% endblock %}

{% block opengraph %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@jambonbill" />
<meta name="twitter:title" content="{{ item.title }}" />
<meta name="twitter:description" content="{{ item.description_short }}" />
<meta name="twitter:image" content="{{ item.url_img }}" />

<meta property="og:site_name" content="Pierre BOQUET Portfolio">
<meta property="og:url" content="https://portfolio.jambonbill.org/{{ item.permalink }}"> 
<meta property="og:title" content="{{ item.title }}">
<meta property="og:type" content="article">
<meta property="og:image" content="{{ item.url_img }}">
<meta property="og:description" content="{{ item.description_short }}">
{% endblock %}

{% block content %}
    
<div class="container">
    
    <div class="row">
        
        <div class="col-12 col-md-6">
            <div class="imgproject">
                <a href="{{item.url}}" alt="{{item.title}}">
                <img src="{{ item.url_img|default('img/thumbnail-600x350.png') }}" alt="{{item.title}}" title="{{item.title}}">        
                </a>
                <!-- youtube video -->
                {% if item.url_youtube %}
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{item.url_youtube}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                {% endif %}
            </div>
        </div>

        <div class="col-12 col-md-6">
            <h2>{{ item.title }}</h2>
            <i class="text-muted">{{ item.tags }}</i>
            <p>{{ item.description|raw }}</p>

            

            <hr>
            {% if item.url %}
            <p>
            <a href="{{item.url}}" class="btn btn-primary"><i class="fa fa-external-link"></i> {{item.url}}</a>
            </p>
            {% endif %}
            {% if item.url_git %}
            <p>
            <a href="{{item.url_git}}" class="btn btn-secondary"><i class="fab fa-github"></i> {{item.url_git}}</a>
            </p>
            {% endif %}
        </div>

        <div class="col-12" style="padding:2rem;">
        {% if prev.permalink %}
        <a href="{{prev.permalink}}" title="{{pev.description_short}}"><i class="fa fa-arrow-left"></i> {{prev.title}}</a>
        {% endif %}
        <a href="{{next.permalink}}" title="{{next.description_short}}" class="float-end">{{next.title}} <i class="fa fa-arrow-right"></i></a>
        </div>
        
    </div>


    <div class="row">
        
        <!-- cards -->
        {% for item in items %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card d-none d-lg-block">
                <div class="img">
                    <a href="{{ item.permalink }}" alt="{{ item.title }}"><img src="{{ item.url_img|default('img/thumbnail-600x350.png') }}" alt="{{ item.title }}"></a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    
                    <p class="card-text smaller">{{ item.description_short }}</p>        
                    <p class="text-muted smaller"><i>{{ item.tags }}</i></p>
                </div>
                
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}

